extends ../layout.pug

block content
      h1 Welcome to Join API main page
      div
        table
          thead
            tr
              th Documentation
              th Type
              th Routes
              th Description
          tbody
            each post in list
              tr
                td
                  a(href=post.link) #{post.link}
                td #{post.type} 
                td #{post.route} 
                td #{post.description}