html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title title
  body
    form(action='/upload_profil_picture', method='POST', enctype='multipart/form-data')
      legend Upload Avatar
      input(type='text', name="Name", placeholder="Name")
      //- input(type='password', name="password", placeholder="Password")
      input(type='file', name=avatar_field)
      button.btn.btn-primary(type='submit') Upload
