doctype html
html(ng-app='JOIN_API', lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Join API
    link(rel='shortcut icon', href='/join-ultimate-v3.png')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    style.
      html                    { overflow-y:scroll; }
      body                    { padding-top:50px; }
  body.jumbotron.text-center
    block content
    