doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='x-apple-disable-message-reformatting')
    title Join - Vérifier votre email
    link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='semantic/dist/semantic.min.js')
    style.
      html,
      body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      }
      /* What it does: Stops email clients resizing small text. */
      * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }
      /* What it does: Centers email on Android 4.4 */
      div[style*="margin: 16px 0"] {
      margin: 0 !important;
      }
      /* What it does: Stops Outlook from adding extra spacing to tables. */
      table,
      td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
      }
      /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
      table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
      }
      table table table {
      table-layout: auto;
      }
      /* What it does: Uses a better rendering method when resizing images in IE. */
      img {
      -ms-interpolation-mode:bicubic;
      }
      /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
      a {
      text-decoration: none;
      }
      /* What it does: A work-around for email clients meddling in triggered links. */
      *[x-apple-data-detectors],  /* iOS */
      .unstyle-auto-detected-links *,
      .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }
      /* What it does: Prevents Gmail from changing the text color in conversation threads. */
      .im {
      color: inherit !important;
      }
      /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
      .a6S {
      display: none !important;
      opacity: 0.01 !important;
      }
      /* If the above doesn't work, add a .g-img class to any image in question. */
      img.g-img + div {
      display: none !important;
      }
      /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
      /* Create one of these media queries for each additional viewport size you'd like to fix */
      /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
      @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
      u ~ div .email-container {
      min-width: 320px !important;
      }
      }
      /* iPhone 6, 6S, 7, 8, and X */
      @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
      u ~ div .email-container {
      min-width: 375px !important;
      }
      }
      /* iPhone 6+, 7+, and 8+ */
      @media only screen and (min-device-width: 414px) {
      u ~ div .email-container {
      min-width: 414px !important;
      }
      }
      #footer .footer-top .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #333;
      color: #eee;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 18px;
      transition: 0.3s;
      }
      #footer .footer-top .social-links a:hover {
      background: #F5A66D;
      color: #fff;
      }
    // CSS Reset : END
    // Reset list spacing because Outlook ignores much of our inline CSS.
    //if mso
      style(type='text/css').
        ul,
        ol {
        margin: 0 !important;
        }
        li {
        margin-left: 30px !important;
        }
        li.list-item-first {
        margin-top: 0 !important;
        }
        li.list-item-last {
        margin-bottom: 10px !important;
        }
    // Progressive Enhancements : BEGIN
    style.
      /* What it does: Hover styles for buttons */
      .button-td,
      .button-a {
      transition: all 100ms ease-in;
      }
      .button-td-primary:hover,
      .button-a-primary:hover {
      background: #555555 !important;
      border-color: #555555 !important;
      }
      /* Media Queries */
      @media screen and (max-width: 480px) {
      /* What it does: Forces elements to resize to the full width of their container. Useful for resizing images beyond their max-width. */
      .fluid {
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;
      margin-left: auto !important;
      margin-right: auto !important;
      }
      /* What it does: Forces table cells into full-width rows. */
      .stack-column,
      .stack-column-center {
      display: block !important;
      width: 100% !important;
      max-width: 100% !important;
      direction: ltr !important;
      }
      /* And center justify these ones. */
      .stack-column-center {
      text-align: center !important;
      }
      /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
      .center-on-narrow {
      text-align: center !important;
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      float: none !important;
      }
      table.center-on-narrow {
      display: inline-block !important;
      }
      /* What it does: Adjust typography on small screens to improve readability */
      .email-container p {
      font-size: 17px !important;
      }
      }
    // Progressive Enhancements : END
  body(width='100%', style='margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #222222;')
    center(style='width: 100%; background-color: #222222;')
      // Preview Text Spacing Hack : BEGIN
      div(style='display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;')
        | ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌
      // Preview Text Spacing Hack : END
      .email-container(style='max-width: 680px; margin: 0 auto;')
        // Email Body : BEGIN
        table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%', style='margin: 0 auto;')
          tbody
            tr
              td(style='padding: 20px 0; text-align: center')
                img(src='http://51.68.46.228:8080/JoinLogo.jpg', width='50', height='50', alt='alt_text', border='0', style='height: auto; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555;')
            // Hero Image, Flush : BEGIN
            tr
              td(style='background-color: #ffffff;')
                img.fluid.g-img(src='http://51.68.46.228:8080/JoinLogo.jpg', alt='alt_text', border='0', style='width: 250px; display: block;margin-left: auto;margin-right: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto;')
            // Hero Image, Flush : END
            // 1 Column Text + Button : BEGIN
            tr
              td(style='background-color: #ffffff;')
                table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
                  tbody
                    tr
                      td(style='padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                        h1(style='margin: 0 0 10px; font-size: 25px; line-height: 30px; color: #333333; font-weight: normal;')
                          | Bienvenue sur join, 
                          name
                        p(style='margin: 0 0 10px;')
                          | Pour commencer à utiliser votre compte join, vous devez confirmer votre adresse e-mail.
                    tr
                      td(style='padding: 0 20px 20px;')
                        // Button : BEGIN
                        table(align='center', role='presentation', cellspacing='0', cellpadding='0', border='0', style='margin: auto;')
                          tbody
                            tr
                              td.button-td.button-td-primary(style='border-radius: 4px; background: #222222;')
                                  a.button-a.button-a-primary(href=url, style='background: #F5A66D; border: 1px solid #F5A66D; font-family: sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;') Vérifier l'adresse e-mail
                        // Button : END
                    tr
                      td(style='background-color: #ffffff;')
                        table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
                          tbody
                            tr
                              td(style='padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                                i
                                  font(size='2')
                                    | Si vous n'avez pas demandé à créer ce compte, vous pouvez ignorer cet e-mail et le compte sera supprimé.
                    // 1 Column Text + Button : END
                    // Background Image with Text : BEGIN
                    tr
                      // Bulletproof Background Images c/o https://backgrounds.cm
                      td(valign='middle', style="text-align: center; background-image: url(''); background-color: #222222; background-position: center center !important; background-size: cover !important;")
                        div
                          table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:500px; margin: auto;')
                            tbody
                              tr
                                td(valign='middle', style='text-align: center; padding: 40px 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #ffffff;')
                                  p(style='margin: 0;')
                                    | join permet à ses utilisateurs de se rencontrer, dans la même zone Géographique, afin de partager leurs passions ou d'échanger sur des thèmes qui leur tiennent à cœur.
                    // Background Image with Text : END
                    // 2 Even Columns : BEGIN
                    tr
                      td(height='100%', valign='top', width='100%', style='background-color: #ffffff;')
                        table(align='center', role='presentation', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:660px;')
                          tbody
                            tr
                              td(align='center', valign='top', style='font-size:0; padding: 10px 0;')
                                .stack-column(style='display:inline-block; margin: 0 -2px; width:100%; min-width:200px; max-width:330px; vertical-align:top;')
                                  table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
                                    tbody
                                      tr
                                        td(style='padding: 10px 10px;')
                    // 2 Even Columns : END
                    // Thumbnail Left, Text Right : BEGIN
                    tr
                      td(dir='ltr', height='100%', valign='top', width='100%', style='padding: 10px 0; background-color: #ffffff;')
                        table(align='center', role='presentation', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:660px;')
                          tbody
                            tr
                              td(align='center', valign='top', style='font-size:0; padding: 10px 0;')
                                .stack-column(style='display:inline-block; margin: 0 -2px; max-width: 200px; min-width:160px; vertical-align:top; width:100%;')
                                  table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
                                    tbody
                                      tr
                                        td(dir='ltr', style='padding: 0 10px 10px 10px;')
                                          img.center-on-narrow(src='http://51.68.46.228:8080/JoinLogo.jpg', width='200', height='', border='0', alt='alt_text', style='width: 100%; max-width: 100px; height: auto; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555;')
                                .stack-column(style='display:inline-block; margin: 0 -2px; max-width:66.66%; min-width:320px; vertical-align:top;')
                                  table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
                                    tbody
                                      tr
                                        td.center-on-narrow(dir='ltr', style='font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding: 10px 10px 0; text-align: left;')
                                          h2(style='margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 22px; color: #333333; font-weight: bold;') Nous suivre
                                          p(style='margin: 0 0 10px 0;') Suivez-nous sur les réseaux sociaux pour découvrir l'actualité join
                                          footer#footer
                                            .footer-top
                                              .social-links
                                                a.twitter(href='#')
                                                  i.fa.fa-twitter
                                                a.facebook(href='#')
                                                  i.fa.fa-facebook
                                                a.instagram(href='#')
                                                  i.fa.fa-instagram
                                                a.google-plus(href='#')
                                                  i.fa.fa-google-plus
                                                a.linkedin(href='#')
                                                  i.fa.fa-linkedin
                    // Thumbnail Left, Text Right : END
                    // Clear Spacer : BEGIN
                    tr
                      td(aria-hidden='true', height='40', style='font-size: 0px; line-height: 0px;')
                    // Clear Spacer : END
                    // Email Body : END
                    // Background Section : BEGIN
                    table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%', style='background-color: #000000 ;')
                      tbody
                        tr
                          td(valign='top')
                            .email-container(align='center', style='max-width: 680px; margin: 0 auto;')
                              table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%', style='max-width: 680px;')
                                tbody
                                  tr
                                    td(style='padding: 20px; font-family: sans-serif; font-size: 12px; line-height: 15px; text-align: center; color: #888888;')
                                      webversion(style='color: #cccccc; text-decoration: underline; font-weight: bold;') Voir la version site internet
                                      br
                                      br
                                      br
                                      span.unstyle-auto-detected-links
                                        | © Join 2018
                                        br
                                      br
                                      br
                                      unsubscribe(style='color: #888888; text-decoration: underline;') se désinscrire
