extends ../layout.pug

block content
  a(href="/").back_button back
  div.doc
  h2 Documentation Route : "/"
  h3 Description
  p Page de base de l'API Join
  h3 Parametres
  p None
  h3 Valeur de retour
  p Type : {html}