body{
  text-align: center;
  background-color: darkslategrey;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 15px;
}

th {
  text-align: left;
}

table {
  border-spacing: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.doc{
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
}

.back_button{
  position: fixed;
  top: 2px;
  left: 10px;
  text-decoration: underline;
}